.card{
    margin-top: 2%;
    width: 500px;
    border-bottom: 5px solid purple;
}

#text-bottom {
    margin-top: 20px;
}

input {
    width: 100%;
    outline: none !important;
}

.form-wrap {
    margin: 3px;
    padding: 10px 1px;
    width: auto;
}
