.navbar .nav-item :active{
    border-bottom: solid 3px purple;
}

.navbar .nav-item :hover{
    border-bottom: solid 3px purple;
}

.navbar .nav-item .active{
    border-bottom: solid 3px purple;
}

.navbar .navbar-toggler .btn-sm {
    outline: none !important;
}